# Environments
venv/
.conda-vir-env/
.venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
test.ipynb

# ML/Data
models/
*.pkl
*.joblib
*.csv
*.xlsx
*.parquet

# Logs & Temp
*.log
response.txt
testing_db.py
chat.db
.DS_Store

# IDEs
.vscode/
.idea/